[
 {pe4kin, [
           {api_server_endpoint, <<"https://api.telegram.org">>}
          ]}, 
 {weather, [ 
	{prefix, "https://api.openweathermap.org/data/2.5/weather"},
	{api_key, <<"keyhere">>} ,
	{city, <<"Brisbane">>} ] },
 {inky, [{name, "your_bot_name"}, {token, "your_bot_token"}]}
].
